DB_NAME="event_web"
DB_USER="root"
DB_PASSWORD="123456"
DB_HOST="localhost"

##MAIL
#MAIL_SERVER="smtp.gmail.com"
#MAIL_PORT=587
#MAIL_USE_TLS=True
#MAIL_DEFAULT_SENDER=True
#MAIL_USERNAME="mailbox.together@gmail.com"
#MAIL_PASSWORD="iiyh hglt rivy dscj"


#MOMO
# MOMO_PARTNER_CODE="MOMO"
# MOMO_ACCESS_KEY="F8BBA842ECF85"
# MOMO_SECRET_KEY="K951B6PE1waDMi640xX08PD3vg6EkVlz"
# MOMO_RETURN_URL="http://127.0.0.1:5000/booking"
# MOMO_IPN_URL="https://f9aa-14-241-246-38.ngrok-free.app/api/payments/momo/callback"

#Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# #HOST
DEV_DATABASE_URI="mysql+pymysql://root:123456@localhost:3306/event?charset=utf8mb4"
TEST_DATABASE_URI="mysql+pymysql://root:123456@localhost:3306/event?charset=utf8mb4"