<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Email Verified</title>

    <link
      rel="stylesheet"
      href="{{ url_for(
            'static',
            filename='css/auth.css'
        ) }}"
    />
  </head>

  <body>
    <div class="container">
      <div class="card">
        <h1>Email verified!</h1>

        <p class="success">User registered successfully.</p>

        <p>
          Your email
          <strong>{{ user.email }}</strong>
          has been verified.
        </p>

        <a href="/login"> Go to login </a>
      </div>
    </div>
  </body>
</html>
